---
import '@styles/global.css';

/**
 * Componente para uma seção de exibição dos modais de projetos. 
 * @remarks
 * Os modais são exibidos em uma grade responsiva, alinhados ao centro.
 * Os filhos devem ser componentes `ProjectModal`
 */
---

<div class="row row-x-center block-large-1-2 block-medium-full block-tab-full block-500-stack">
    <slot/>
</div>