---
import "@styles/global.css";
import { GoTop } from "@components/layout"
import { SocialMediaIcon } from "@components/ui"

/**
 * Componente representativo do rodapé da página.
 * Inclui ícones de redes sociais e informações de copyright.
 */
---

<footer class="s-footer">
    <div class="row">
        <div class="column large-4 medium-6 w-1000-stack s-footer-social-block">
            <ul class="s-footer-social">
                <li><SocialMediaIcon name="GitHub" url="https://github.com/ic2d" /></li>
                <li><SocialMediaIcon name="DGP" url="http://dgp.cnpq.br/dgp/espelhogrupo/8360489054121827" /></li>
            </ul>
        </div>

        <div class="column large-7 medium-6 w-1000-stack ss-copyright">
            <span>© Copyright iC2D 2025</span>
            <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            <span>Some icons by <a href="http://www.freepik.com/">Freepik</a></span>
        </div>
    </div>

    <GoTop/>
</footer>

<!-- =============================================================================================== -->

<style>
/* Gerais */
.s-footer {
    padding-top: var(--vspace-1);
    padding-bottom: var(--vspace-3);
    background-color: var(--color-dark-bg);
    position: relative;
}

.s-footer a {
    color: white;
}

.s-footer a:hover, .s-footer a:focus {
    color: var(--color-1);
}

/* Ícones das Redes Sociais */
.s-footer-social {
    list-style: none;
    font-size: var(--text-lg);
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    margin-bottom: 0;
    position: relative;
    top: -10%;
}

.s-footer-social li {
    padding-left: 0;
    margin-right: 1.6rem;
}

/* Informações de Copyright */
.ss-copyright {
    z-index: 2;
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
    margin-right: auto;
    position: relative;
}

.ss-copyright span {
    font-size: var(--text-sm);
    display: inline-block;
}

.ss-copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 .8rem 0 1rem;
    color: rgba(255, 255, 255, 0.1);
}

.ss-copyright span:last-child::after {
    display: none;
}

/* Responsividade */
@media screen and (max-width: 1000px) {
    .s-footer-social {
        margin-left: 0;
        margin-bottom: var(--vspace-0_5);
        top: 0;
    }
    .ss-copyright {
        -ms-flex-order: 0;
        -webkit-box-ordinal-group: 1;
        order: 0;
    }
}

@media screen and (max-width: 800px) {
    .s-footer {
        padding-bottom: var(--vspace-2);
    }
}

@media screen and (max-width: 600px) {
    .ss-copyright span {
        display: block;
    }
    .ss-copyright span::after {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .s-footer-social {
        font-size: var(--text-md);
    }
    .s-footer-social li {
        margin-right: 1.4rem;
    }
}
</style>