---
import '@styles/global.css';

/**
 * Componente representativo do cabeçalho genérico para as páginas.
 * @param {Object} props - As propriedades do componente.
 * @param {string} [props.title] - O título a ser exibido no cabeçalho da página.
 */
interface Props{
    title: string;
}

const { title } = Astro.props;
---

<div class="row page-header">
    <h2>{title}</h2>
    <slot/>
</div>

<!-- =============================================================================================== -->

<style>
/* Cabeçalho */
.page-header h2{
    color: var(--color-1);
    width: var(--width-full);
}

/* Conteúdo */
.page-header :global(p){
    color: var(--color-text-light);
    text-align: justify;
}
</style>